<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.ssp365.android.freelight"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.ssp365.android.freelight.common.SmartSportApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name="com.ssp365.android.freelight.activity.Appstart"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.ssp365.android.freelight.activity.WhatsnewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.TeamActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.SporterListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.SporterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.ModelActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.ModelImageViewActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.AnalyseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.ChenjiChartActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.ChenjiListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.StopWatchActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.CSVActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.WifisetActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name="org.achartengine.chartdemo.demo.chart.XYChartBuilder"/>
        <activity android:name="org.achartengine.chartdemo.demo.chart.PieChartBuilder"/>
        <activity android:name="org.achartengine.GraphicalActivity"/>
        <activity
            android:name="com.ssp365.android.freelight.activity.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"/>
        <activity android:name="com.ssp365.android.freelight.activity.SportItemSelectActivity"/>
    </application>

</manifest>
